body{
  background-color: rgb(40,150,136);
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 44;
  color:rgb(252,234,62);
  text-align: center;
}
#borde{
  border: 10px solid rgb(255,255,255);
  margin: 5px;
  align-items: center;

  }